[submodule "unity/source"]
	path = machine_interface/c_machine_libraries/unity/source
	url = git@github.com:ThrowTheSwitch/Unity.git
[submodule "http"]
	path = net/http
	url = git@github.com:cesanta/mongoose.git
