[package]
name = "dandelion_server"
version = "0.1.0"
edition = "2021"

[dependencies]
machine_interface = { path = "../machine_interface" }
dandelion_commons = { path = "../dandelion_commons" }
dispatcher = { path = "../dispatcher" }
futures = { version = "0.3.28", default-features=false}
tokio = { version = "1", features = ["full"] }
hyper = { version = "0.14", features = ["full"] }
tower = { version = "0.4.13", features = ["make"] }
core_affinity = "0.8"
bytes = "1.4"
http = "0.2"
log = "0.4.20"
env_logger = "0.10.1"

[dev-dependencies]
assert_cmd = "2.0"
byteorder = "1.5"
reqwest = { version = "0.11", default-features = false, features = ["blocking"] }

[features]
cheri = ["machine_interface/cheri"]
mmu = ["machine_interface/mmu"]
wasm = ["machine_interface/wasm"]
wasmtime = ["machine_interface/wasmtime"]
wasmtime-precompiled = ["wasmtime", "machine_interface/wasmtime-precompiled"]
hyper_io = ["machine_interface/hyper_io"]