name: Dandelion Cargo Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main", "dev/**" ]
  #allow for manual triggering
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    # set to fail fast to false so all combinations are tested
    strategy:
      fail-fast: false
      # test different available compute engines with different system engines
      matrix:
        compute_driver: [ mmu, wasm ]
        system_driver: [ hyper_io ]
    steps:
    # check out the code
    - uses: actions/checkout@v3
    # set up feature specific prerequisits
    - name: mmu worker build
      if: ${{ matrix.compute_driver == mmu }}
      run: cargo build -F ${{matrix.compute_driver}} --bin mmu_worker --target $(arch)-unkown-linux-gnu
    # run the actual tests
    - name: run tests
      run: cargo test -F ${{matrix.compute_driver}},${{matrix.system_driver}}
